# Logs
.log/

# Created by https://www.toptal.com/developers/gitignore/api/elixir,phoenix
# Edit at https://www.toptal.com/developers/gitignore?templates=elixir,phoenix

### Elixir ###
/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/

### Elixir Patch ###

### Phoenix ###
# gitignore template for Phoenix projects
# website: http://www.phoenixframework.org/
#
# Recommended template: Elixir.gitignore

# Temporary files
/tmp

# Static artifacts
npm-debug.log
/node_modules
/assets/node_modules

# Ignore assets that are produced by build tools.
/priv/static/assets/
/priv/native/


# Installer-related files
/installer/_build
/installer/tmp
/installer/doc
/installer/deps

# Ignore package tarball (built via "mix hex.build").
acaster-*.tar
